@mixin warning_flash {
    animation: flash 1s ease infinite;
    color: white;
    background-color: #ed4245 !important;
}

.theme-dark #app-mount {
    &::after {
        z-index: 1005;
        content: "For this theme to work properly, you have to enable Light Mode. \a\aTo enable it, head over to Settings -> Appearance.";
        white-space: pre-wrap;
        position: absolute;
        right: 5px;
        bottom: 5px;
        max-width: 210px;
        padding: 15px 0 15px 80px;
        border-radius: 5px;
        border-left: 4px solid #ed4245;
        font-weight: 500;
        color: var(--text-normal);
        background: var(--background-tertiary);
        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZWQ0MjQ1IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNNC40NyAyMWgxNS4wNmMxLjU0IDAgMi41LTEuNjcgMS43My0zTDEzLjczIDQuOTljLS43Ny0xLjMzLTIuNjktMS4zMy0zLjQ2IDBMMi43NCAxOGMtLjc3IDEuMzMuMTkgMyAxLjczIDN6TTEyIDE0Yy0uNTUgMC0xLS40NS0xLTF2LTJjMC0uNTUuNDUtMSAxLTFzMSAuNDUgMSAxdjJjMCAuNTUtLjQ1IDEtMSAxem0xIDRoLTJ2LTJoMnYyeiIvPjwvc3ZnPg==);
        background-repeat: no-repeat;
        background-size: 55px;
        background-position: 12px center;
    }
    // warn
    .container-3baos1 .flex-1xMQg5 .button-14-BFJ:last-child {
        @include warning_flash;
    }
    #user-settings-cog-Appearance {
        @include warning_flash;
    }
    [aria-activedescendant^="user-settings-cog-Appearance"] #user-settings-cog-Appearance--light {
        @include warning_flash;
    }
    [aria-controls="appearance-tab"] {
        @include warning_flash;
    }
    [aria-label="USER_SETTINGS"] [tabindex="-1"] + [class="marginTop40-i-78cZ"] .item-26Dhrx:nth-of-type(2n) {
        @include warning_flash;
    }
}
@keyframes flash {
	0% { box-shadow: 0 2px 10px rgba(237, 66, 69, 0.2),0 0 0 2px rgba(237, 65, 68, 0.1); }
	70% { box-shadow: 0 0 20px 15px rgba(237, 66, 69, 0.1),0 0 0 6px rgba(237, 65, 68, 0.1); }
	100% { box-shadow: 0 0 20px 15px rgba(237, 66, 69, 0),0 0 0 6px rgba(237, 65, 68, 0.1); }
}