@keyframes settingsflash
{
  0%
  {
    box-shadow: 0 2px 10px rgba(240,71,71,0.2),0 0 0 2px rgba(240,70,70,0.3);
  }

  70%
  {
    box-shadow: 0 0 20px 15px rgba(240,71,71,0.1),0 0 0 6px rgba(240,70,70,0.2);
  }

  100%
  {
    box-shadow: 0 0 20px 15px rgba(240,71,71,0),0 0 0 6px rgba(240,24,70,0.1);
  }
}

.theme-light .layer-86YKbF:first-of-type::before {
  content: "You need to have light theme enabled for this theme to work properly. To enable it, go into Settings -> Appearance"; /* Warning Text */

  position: fixed;
  text-align: center;
  width: 400px;
  height: 30px;
  top: 50%;
  left: 50%;
  background: #202020; /* Inner Color */
  transform: translate(-50%, -50%);
  color: #FFFFFF; /* Text Color */
  padding: 17px 16px 20px 13.5px;
  box-shadow: 0 2px 10px rgba(240, 71, 71, 0.22);
  border: 2.5px solid #F04747;
  border-radius: 4px;
  z-index: 2;
}

.theme-light .app-2CXKsg .layer-86YKbF:first-of-type *::before, .theme-light .app-2CXKsg .layer-86YKbF:first-of-type *::after, .theme-light .app-2CXKsg .layer-86YKbF:first-of-type * {
  visibility: hidden !important;
}

.theme-light .app-2CXKsg .layer-86YKbF:first-of-type {
  background-color: #1c1c1c !important; /* Color Behind Warning */
/*  background-image: url('http://getwallpapers.com/wallpaper/full/c/0/5/529038.jpg') !important;*/ /* Image Behind Warning */;
}

.theme-light .preview-rua1rr.cardPrimaryOutline-1ofwVz+.marginTop40-Q4o1tS .radioGroup-1GBvlr .cardPrimaryEditable-2mz_3i:first-of-type,
  .theme-light .preview-rua1rr.cardPrimaryOutline-1ofwVz+.marginTop40-Q4o1tS .radioGroup-1GBvlr .item-26Dhrx:first-of-type {
  animation: settingsflash 1s ease infinite;
  background: #F04747;
  border-color: #F04747;
}

.theme-light .preview-rua1rr.cardPrimaryOutline-1ofwVz+.marginTop40-Q4o1tS .radioGroup-1GBvlr .cardPrimaryEditable-2mz_3i:first-of-type,
.theme-light .preview-rua1rr.cardPrimaryOutline-1ofwVz+.marginTop40-Q4o1tS .radioGroup-1GBvlr .item-26Dhrx:first-of-type {
  animation: settingsflash 1s ease infinite;
  background: #F04747;
  border-color: #F04747;
  color: #FFFFFF;
}

.theme-light .app-2CXKsg .container-YkUktl > .noWrap-hBpHBz > .button-12Fmur:nth-child(3) {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 70px;
  width: 220px;
  height: 40px;
  visibility: visible !important;
  background: #F04747 !important; /* Container Color */
  border-radius: 4px;
  animation: settingsflash 1s ease infinite;
  opacity: 1;
}

.theme-light .app-2CXKsg .container-YkUktl > .noWrap-hBpHBz > .button-12Fmur:nth-child(3)::before {
  position: absolute;
  content: "GO TO SETTINGS";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 14px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible !important;
  font-size: 17px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}

.theme-light [aria-controls="appearance-tab"] {
  border: 2px solid #F04747;
  animation: settingsflash 1s ease infinite;
}
