.theme-dark #app-mount::after {
    content: "For this theme to work properly, you have to enable Light Mode. \a\aTo enable it, head over to Settings -> Appearance.";
    position: absolute;
    display: block;
    top: 15%;
    left: 50%;
    width: 500px;
    height: 35px;
    padding: 20px;
    transform: translate(-50%, -50%);
    border: 3px solid #ed4245;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(237, 66, 69, 0.3);
    text-align: center;
    font-weight: 500;
    color: var(--text-normal);
    background-color: var(--background-tertiary);
}
.theme-dark [aria-controls="appearance-tab"] {
    animation: flash 1s ease infinite;
    border: 2px solid #ed4245;
}
.theme-dark .container-3baos1 .flex-1xMQg5 .button-14-BFJ:last-child {
    animation: flash 1s ease infinite;
    border: 2px solid #ed4245;
}
@keyframes flash {
    0% {
        box-shadow: 0 2px 10px rgba(237, 66, 69, 0.2), 0 0 0 2px rgba(237, 65, 68, 0.1);
   }
    70% {
        box-shadow: 0 0 20px 15px rgba(237, 66, 69, 0.1), 0 0 0 6px rgba(237, 65, 68, 0.1);
   }
    100% {
        box-shadow: 0 0 20px 15px rgba(237, 66, 69, 0), 0 0 0 6px rgba(237, 65, 68, 0.1);
   }
}
