@keyframes warningflash {
	0% {
		box-shadow: 0 2px 10px rgba(240,71,71,0.2),0 0 0 2px rgba(240,70,70,0.3);
	}
	70% {
		box-shadow: 0 0 20px 15px rgba(240,71,71,0.1),0 0 0 6px rgba(240,70,70,0.2);
	}
	100% {
		box-shadow: 0 0 20px 15px rgba(240,71,71,0),0 0 0 6px rgba(240,24,70,0.1);
	}
}
.theme-dark {
	.layer-3QrUeG {
		&:first-of-type {
			&::before {
				content: "You need to have light theme enabled for this theme to work properly. To enable it, go into Settings -> Appearance";
				z-index: 2;
				background: #202020;
				color: #ffffff;
				position: fixed;
				display: block;
				text-align: center;
				padding: 20px;
				width: 500px;
				height: 35px;
				top: 15%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 5px;
				box-shadow: 0 2px 10px rgba(240, 71, 71, 0.22);
				border: 3px solid #F04747;
			}
		}
	}
}
.theme-dark {
	[aria-controls="Appearance-tab"] {
		animation: warningflash 1s ease infinite;
		border: 2px solid #F04747;
	}
	.app-2rEoOp {
		.container-3baos1 {
			>.noWrap-3jynv6 {
				>.button-14-BFJ {
					&:nth-child(3) {
						animation: warningflash 1s ease infinite;
						border: 2px solid #F04747;
					}
				}
			}
		}
	}
	.children-rWhLdy {
		>.marginTop40-i-78cZ {
			&:nth-child(2) {
				>div {
					>div[tabindex="-1"] {
						border: 2px solid #F04747;
						animation: settingsflash 1s ease infinite;
					}
				}
			}
		}
	}
}
